body {
    margin: 0;
    background-color: #191724;
}

a, button, small {
    font-family: "Roboto", sans-serif;
}

.page-header {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 12px;
    margin-right: 20px;
}

a {
    color: #9ccfd8;
}
a:visited {
    color: #9ccfd8;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    bottom: 0;
    color: #e0def4;
}

main {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
}

.centered-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centered-wrap section {
    width: 400px;
    display: flex;
    padding-top: 140px;
}

.centered-wrap textarea {
    height: min-content;
    width: calc(100% - 4px);
    background-color: #26233a;
    outline: none;
    color: #e0def4;
}

.create-note {
    background-color: transparent;
    border: none;
    align-self: flex-start;
    color: #e0def4;
}

.create-note:hover {
    color: #31748f;
}

.create-note:before {
    content: "+";
    font-size: 1.8em;
    padding-right: 5px;

}

.side-menu.opened {
    background-color: #26233a;
}

.side-menu .open {
    background-color: transparent;
    border: none;
    font-size: 1.8em;
    color: #f6c177;
}

.side-menu .open:hover {
    color: #eb6f92;
}

.side-menu .open::before {
    content: ">>";
}

.side-menu.opened .open::before {
    content: "<<"
}

.side-menu.opened .open {
    width: fit-content;
    align-self: flex-end;
}

.side-menu.opened {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.text-wrap {
    width: 100%;
}

.note-control {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.note-control button {
    background-color: #e0def4;
    border: 2px solid #e0def4;
    border-radius: 4px;
}

.content ul {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .centered-wrap section {
        width: 100%;
        padding: 4px;
    }

    .text-wrap {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    .side-menu.opened {
        width: 100%;
    }
}