body {
    margin: 0;
}

.page-header {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 12px;
    margin-right: 20px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    bottom: 0;
}

main {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
}

.centered-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centered-wrap section {
    width: 400px;
    display: flex;
    padding-top: 140px;
}

.centered-wrap textarea {
    height: min-content;
    width: calc(100% - 4px);
}

.create-note {
    background-color: transparent;
    border: none;
    align-self: flex-start;
}

.create-note:hover {
    color: blue;
}

.create-note:before {
    content: "+";
    font-size: 1.8em;
    padding-right: 5px;

}

.side-menu.opened {
    background-color: green;
}

.side-menu .open::before {
    content: ">>";
}

.side-menu.opened .open::before {
    content: "<<"
}

.side-menu.opened .open {
    width: fit-content;
    align-self: flex-end;
}

.side-menu.opened {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.text-wrap {
    width: 100%;
}

.note-control {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

button#create {
    color: green;
}

button#delete {
    color: red;
}

@media screen and (max-width: 600px) {
    .centered-wrap section {
        width: 100%;
        padding: 4px;
    }

    .text-wrap {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    .side-menu.opened {
        width: 100%;
    }
}